
.ui-notification {
    width: 600px;
}

h3 {
    color: darkblue;
}

h4 {
    color: darkblue;
    font-size: 1rem;
}

.zone-1 {
    margin: 2rem;
    height: 100%;
}

.dual-sliders {
    margin-bottom: 2px;
    margin-top:0;
}

.icon-label-input {
    font-size: 1.75rem;
}